{% load static %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="{% static 'assets/images/header-logo.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                {% for item in main_menu %}
                        <li class="nav-item{% if item.active %} active{% endif %}">

                        {% if item.page %}
                            <a class="nav-link" href="{% url item.url_name page=item.page %}">{{ item.title }}
                                {% if item.active %}
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        {% else %}
                            <a class="nav-link" href="{% url item.url_name %}">{{ item.title }}
                                {% if item.active %}
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</nav>